<div class="profile">
  <figure>
    <% if @user.avatar.attached? %>
      <image src="<%= (url_for(@user.avatar)) %>" style="width: 100px;"></image>
    <% else %>
      <img src="https://i.imgur.com/uaWh1Kb.png" alt="" />
    <% end %>
  </figure>
  <header>
    <h1><%= @user.forename %> <%= @user.surname %></h1>
  </header>

  <div class="toggle">
  </div>
  <main>
    <dl>
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <dt>Email address</dt>
      <dd><%= @user.email  %></dd>
    </dl>
  </main>

</div>